<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Library Computer Access/Retrieval System</title>
<link href="/dist/vendor.537c5f1bc715e2de83be.css" rel="stylesheet"></head>
<body>
<div role="main" id="app">
    @if (ViewBag.IsInternetExplorer)
    {
        <div class="col-6 mx-auto">
            <h1>Incompatible Browser</h1>
            <p>You are using Internet Explorer to access this page. Internet Explorer has since been replaced by Microsoft Edge and other browsers that support newer web standards.</p>
        </div>
    }
</div>
<script type="text/javascript" src="/dist/js/vendor.853e1f5390b89d5994e8.js"></script><script type="text/javascript" src="/dist/js/main.537c5f1bc715e2de83be.js"></script></body>
</html>