@font-face {
    font-family: "Swiss911BT-UltraCompressed";
    src: url('../fonts/Swiss911BT-UltraCompressed.eot');
    src: url('../fonts/Swiss911BT-UltraCompressed.eot?#iefix') format("embedded-opentype"), url("../fonts/Swiss911BT-UltraCompressed.woff2") format("woff2"), url("../fonts/Swiss911BT-UltraCompressed.woff") format("woff"), url("../fonts/Swiss911BT-UltraCompressed.ttf") format("truetype"), url("../fonts/Swiss911BT-UltraCompressed.svg#Swiss911BT-UltraCompressed") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Ultra Compressed";
    src: url('../fonts/Helvetica-UltraCompressed.eot');
    src: url('../fonts/Helvetica-UltraCompressed.eot?#iefix') format("embedded-opentype"), url("../fonts/Helvetica-UltraCompressed.woff2") format("woff2"), url("../fonts/Helvetica-UltraCompressed.woff") format("woff"), url("../fonts/Helvetica-UltraCompressed.ttf") format("truetype"), url("../fonts/Helvetica-UltraCompressed.svg#Helvetica-UltraCompressed") format("svg");
    font-weight: normal;
    font-style: normal;
}