html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #000;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1000px;
}

.row::before, .row::after {
    display: table;
    content: " ";
    clear: both;
}
