@model LCARS.Models.Location

@{
    ViewData["Title"] = "Create";
}
<div class="container p-5">
    <h1 class="text-info">Create Location</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <tr>
                <th><label asp-for="Name" class="control-label"></label></th>
                <th></th>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </td>
                <td><input type="submit" value="Save" class="btn btn-success" /></td>
            </tr>
        </table>
    </form>
</div>