@model LCARS.Models.Character

@{
    ViewData["Title"] = "Edit";
}
<div class="container p-5">
    <h2 class="text-info">Edit</h2>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CharacterId" />
        <table class="table">
            <tr>
                <td colspan="2" class="border-top-0">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control form-control-lg" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tips">Tips</label>
                        <textarea asp-for="Tips" rows="3" class="form-control"></textarea>
                        <span asp-validation-for="Tips" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="Role">Role</label>
                        <input asp-for="Role" class="form-control form-control" />
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Passcode</label>
                        <input asp-for="Password" class="form-control form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </td>
                <td class="border-left">
                    <div class="form-group">
                        <label asp-for="TraitName">Trait</label>
                        <input asp-for="TraitName" class="form-control form-control" />
                        <span asp-validation-for="TraitName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TraitDescription">Description</label>
                        <textarea asp-for="TraitDescription" rows="3" class="form-control"></textarea>
                        <span asp-validation-for="TraitDescription" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="form-group">
                        <label asp-for="Story">Story</label>
                        <textarea asp-for="Story" rows="6" class="form-control"></textarea>
                        <span asp-validation-for="Story" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">
                    <input type="submit" value="Save" class="btn btn-success" />
                </td>
            </tr>
        </table>
    </form>
</div>