@model LCARS.Models.Objective

@{
    ViewData["Title"] = "Create";
}
<div class="container p-5">
    <h1 class="text-info">Create Objective</h1>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr>
                <th scope="row">
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </th>
                <td>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </td>
                <td><input type="submit" value="Save" class="btn btn-default" /></td>
            </tr>
        </table>
    </form>
</div>